#######################
# Git Ignore          #
#######################

#######################
# Python stuff        #
#######################

#######################
# Mac stuff           #
#######################
.DS_Store


#######################
# Techno Twitter      #
#######################

keys/